
<div class="row">
    <div class="col-5">
        <ListGroup Mode=@GetListMode() @bind-SelectedItem="selectedReadyItem">

            <ListGroupItem>
                <div class="row"><div class="col"><Button Color="Color.Success" Outline><Icon Name="IconName.Smile"></Icon>   Select all</Button></div><div class="col"></div><div class="col"><Button Color="Color.Danger" Outline Clicked="@(() => ClearParticipantsReady())"><Icon Name="IconName.Delete"></Icon>   Remove All</Button></div></div>
            </ListGroupItem>

            @foreach (var ready in ParticipantsReady)
            {
                <ListGroupItem Name="@($"{ready}{ParticipantsReady.IndexOf(ready)}")" Clicked="@(() => AddParticipant(ready))">
                    @ready
                    <Button Color=Color.Default Size=Size.ExtraSmall Type=ButtonType.Link Float=Float.End Clicked="@(() => RemoveParticipantReady(ready))"><span class="oi oi-delete small"></span></Button>
                </ListGroupItem>
            }

            <ListGroupItem>
                <div class="row">
                    <div class="col"><TextEdit Placeholder="Add a new team member..." @bind-Text="newTeamMember" /></div>
                    <div class="col"><Button Size=Size.ExtraSmall Color=Color.Secondary Outline Clicked="@(() => AddParticipantReady(newTeamMember))">
                        <span class="oi oi-check"></span>
                    </Button></div>
                </div>
            </ListGroupItem>

            <ListGroupItem>
                <div class="row">
                    <div class="col">
                        <Button Size=Size.ExtraSmall Color=Color.Success Outline Float=Float.End Clicked="@(() => AddParticipantReady(newTeamMember))">
                        <span class="oi oi-flash"></span> Add All!
                    </Button>
                    </div>
                </div>
            </ListGroupItem>

        </ListGroup>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
        <ListGroup>
            <ListGroupItem><div class=row><div class="col"></div><div class="col"><Button Color="Color.Danger" Outline Float="Float.Start"><Icon Name="IconName.Delete"></Icon>   Remove all</Button></div><div class="col"></div></div></ListGroupItem>
            <ListGroupItem>Placeholder</ListGroupItem>
            <ListGroupItem>Placeholder</ListGroupItem>
            <ListGroupItem>Placeholder</ListGroupItem>
            <ListGroupItem>Placeholder</ListGroupItem>
        </ListGroup>
    </div>
</div>
<div class="row">
    <div class="col-12"><span></span></div>
</div>

@code {

}
